body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
}

input[type="checkbox"] {
  margin-right: 3px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

li.completed span {
  text-decoration: line-through;
  font-style: italic;
  color: #ccc;
}

.edit-input {
  border: none;
  outline: none;
  font-size: 16px;
  padding: 2px;
  margin: 0;
  background-color: transparent;
  border-bottom: 1px solid #000;
  width: 100%;
}
